.popup-callback {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999; }

.form {
  width: 305px;
  height: 142px;
  background: -webkit-linear-gradient(45deg, #b750b1, #fff, #b750b1);
  background: -o-linear-gradient(45deg, #b750b1, #fff, #b750b1);
  background: linear-gradient(45deg, #b750b1, #fff, #b750b1);
  margin: 0 auto;
  position: relative; }
  .form h3, .form .form-control {
    margin-bottom: 20px; }

.close-popup {
  position: absolute;
  top: 5px;
  right: 5px; }
  .close-popup .icon-radio-button {
    color: #ed720b; }
