$bg-color: #9cf0ef;
$icon-color: #ed720b;
.navbar-bottom {
   border-top: 1px solid #cc72be;
 }
   .navbar-bottom__list {
   	  display: flex;
   	  justify-content: space-between;
   	  align-items: center;
        padding: 5px;
   	   li {
   	   	margin-right: 10px;
            color: #fff;
             padding: 5px;
            a {
               color: #fff;
               text-transform: uppercase;
            }
   	   }
   }

  .navbar-bottom__list li:hover,
   .navbar-bottom__list a:hover{
      color: #cc72be;
      background: #fcecfa;
      border-radius: 5px;
   }

	